{% extends "base_auth.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<h1>Reset your password</h1>
<p class="lede">Enter the email address on your account. If it matches, we'll send a link to set a new password.</p>
<form method="post">
  {% csrf_token %}
  <div class="form-row">
    <label class="lbl" for="id_email">Email</label>
    <input type="email" name="email" id="id_email" autocomplete="email" required autofocus>
    {{ form.email.errors }}
  </div>
  <button class="btn btn-primary" type="submit">Send reset link</button>
</form>
<p class="auth-foot"><a href="{% url 'accounts:login' %}">Back to sign in</a></p>
{% endblock %}
