{% extends "base.html" %}
{% load ui %}
{% block title %}Not allowed{% endblock %}
{% block content %}
<div class="error-page">
  <div class="code">Error 403</div>
  <h1>You don't have access to this</h1>
  <p>{{ message }} If you need it, ask an admin of your organization to change your role.</p>
  <a class="btn btn-primary" href="{% url 'core:dashboard' %}">Go to the dashboard</a>
</div>
{% endblock %}
{% block public_content %}
<div class="error-page">
  <div class="code">Error 403</div>
  <h1>You don't have access to this</h1>
  <p>{{ message }}</p>
  <a class="btn btn-primary" href="{% url 'accounts:login' %}">Sign in</a>
</div>
{% endblock %}
